vault:
  ui:
    enabled: true

  server:
    dev:
      enabled: true

  injector:
    enabled: true

ingress:
  hosts:
    - vault.spitikos.dev
    - vault.taehoonlee.cloud
  serviceName: vault-ui
  servicePort: 8200

serviceAccount:
  name: vault-auth
  namespace: kube-system
