vault:
  ui:
    enabled: true

  server:
    dev:
      enabled: true

  injector:
    enabled: true

ingress:
  host: vault.spitikos.dev
  serviceName: vault-ui
  servicePort: 8200

serviceAccount:
  name: vault-auth
  namespace: kube-system
