traefik:
  rbac:
    enabled: true

  # Disable the default entrypoints to avoid conflicts
  entryPoints:
    web: null
    websecure: null

  ports:
    web:
      port: 80
      exposedPort: 30080
    traefik:
      port: 8080

  providers:
    kubernetesCRD:
      allowCrossNamespace: true
    kubernetesIngress:
      publishedService:
        enabled: true

  api:
    dashboard: true
    insecure: true

ingress:
  enabled: true
  host: traefik.spitikos.dev
