traefik:
  rbac:
    enabled: true

  entryPoints:
    web:
      address: ":80"
      http:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
    websecure:
      address: ":443"
      http:
        tls:
          enabled: true
          secretName: spitikos-dev-tls

  ports:
    web:
      port: 80
      exposedPort: 30080
    websecure:
      port: 443
      exposedPort: 30443
    traefik:
      port: 8080

  providers:
    kubernetesCRD:
      allowCrossNamespace: true
    kubernetesIngress:
      publishedService:
        enabled: true

  api:
    dashboard: true
    insecure: true

ingress:
  enabled: true
  host: traefik.spitikos.dev
