traefik:
  rbac:
    enabled: true

  # Rename the internal 'traefik' entrypoint to 'dashboard' to avoid a name collision.
  entryPoints:
    web:
      address: ":80"
    grpc:
      address: ":50051"
    dashboard:
      address: ":8080"
    websecure:
      address: null

  api:
    insecure: true
    dashboard: true
    entryPoint: "dashboard"

  # Configure the service for NodePort access by cloudflared.
  service:
    type: NodePort
    nodePorts:
      web: 30080
      grpc: 30051

  # Tell Traefik to watch for IngressRoutes in all namespaces.
  providers:
    kubernetesCRD:
      allowCrossNamespace: true
      namespaces: [] # An empty list means all namespaces
    # Also tell Traefik to watch for standard Kubernetes Ingress objects.
    kubernetesIngress:
      publishedService:
        enabled: true

ingress:
  enabled: true
  host: traefik.spitikos.dev
