traefik:
  rbac:
    enabled: true

  # Rename the internal 'traefik' entrypoint to 'dashboard' to avoid a name collision.
  entryPoints:
    web:
      address: ":80"
    dashboard:
      address: ":8080"
    websecure:
      address: null

  # Enable the API and explicitly tell it to use our newly named 'dashboard' entrypoint.
  api:
    insecure: true
    dashboard: true
    entryPoint: "dashboard"

  # Configure the service for NodePort access by cloudflared.
  service:
    type: NodePort
    nodePorts:
      web: 30080

  # Tell Traefik to watch for IngressRoutes in all namespaces.
  providers:
    kubernetesCRD:
      allowCrossNamespace: true
      namespaces: [] # An empty list means all namespaces

ingress:
  enabled: true
  host: traefik.spitikos.dev
