ingress-nginx:
  controller:
    resources:
      requests:
        cpu: 100m
        memory: 90Mi
      limits:
        cpu: 1000m
        memory: 512Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        namespace: monitoring
        scrapeInterval: 15s
        additionalLabels:
          release: monitoring
    hostPort:
      enabled: false
    logLevel: "DEBUG"
    config:
      use-forwarded-headers: "true"
