replicaCount: 1
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: 796ce9ffaf89f02c0d8abf2e42567acef3c3b455
command:
  - /bin/prometheus-proxy
service:
  type: ClusterIP
  port: 50051
  containerPort: 50051
  portName: http-grpc
ingress:
  enabled: true
  host: api.spitikos.dev
  path: /prometheus-proxy
