replicaCount: 5
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: 61aa1216a9e66a761d6bfa70fa77a3e0fd80fb93
service:
  type: ClusterIP
  port: 50051
  containerPort: 50051
  portName: grpc
  appProtocol: h2c
ingress:
  enabled: true
  host: api.spitikos.dev
  path: /
  entryPoint: web
config:
  mountDir: /config
  filename: config.yaml
  data:
    server:
      port: 50051
    prometheus_proxy:
      url: https://prometheus.spitikos.dev
      query_range_step_seconds: 15
      stream_interval_seconds: 1
