replicaCount: 1
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: 131af7324808127ea7c43fa1167e2d9c2d4a4937
service:
  type: ClusterIP
  port: 50051
  containerPort: 50051
  portName: grpc
ingress:
  enabled: true
  host: api.spitikos.dev
  scheme: h2c
config:
  mountDir: /config
  filename: config.yaml
  data:
    server:
      port: 50051
      stream_interval_seconds: 1
    prometheus_proxy:
      url: https://prometheus.spitikos.dev
      query_range_step_seconds: 15
