replicaCount: 3
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: f8215bc060e76c98bda142c4f72da197a690189e
service:
  type: ClusterIP
  port: 50051
  targetPort: 50051
  portName: grpc
ingress:
  enabled: true
  host: api.spitikos.dev
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: http://localhost:3000,https://spitikos.dev
    nginx.ingress.kubernetes.io/cors-allow-methods: GET, POST
    nginx.ingress.kubernetes.io/cors-allow-headers: Content-Type,Connect-Protocol-Version,Connect-Timeout-Ms,Grpc-Timeout,X-Grpc-Web,X-User-Agent
    nginx.ingress.kubernetes.io/cors-expose-headers: Grpc-Status,Grpc-Message,Grpc-Status-Details-Bin
    nginx.ingress.kubernetes.io/backend-protocol: GRPC
config:
  mountDir: /config
  filename: config.yaml
  data:
    server:
      port: 50051
      stream_interval_seconds: 1
    prometheus_proxy:
      url: https://prometheus.spitikos.dev
      query_range_step_seconds: 15
