replicaCount: 3
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: a6c73ced190343cd74c3ff1f54d0357540130727
service:
  type: ClusterIP
  port: 50051
  targetPort: 50051
  portName: grpc
ingress:
  enabled: true
  host: api.spitikos.dev
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: GRPC
config:
  mountDir: /config
  filename: config.yaml
  data:
    server:
      port: 50051
      stream_interval_seconds: 1
    prometheus_proxy:
      url: https://prometheus.spitikos.dev
      query_range_step_seconds: 15
