replicaCount: 3
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: 00ff1e8d3f56f606388c1e05dfc1d7bb672f7cea
service:
  type: ClusterIP
  port: 50051
  targetPort: 50051
  portName: grpc
ingress:
  enabled: true
  host: api.spitikos.dev
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-origin: "http://localhost:3000,https://spitikos.dev"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-headers: "Content-Type,connect-protocol-version"
    nginx.ingress.kubernetes.io/cors-expose-headers: "connect-content-encoding"
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
config:
  mountDir: /config
  filename: config.yaml
  data:
    server:
      port: 50051
      stream_interval_seconds: 1
    prometheus_proxy:
      url: https://prometheus.spitikos.dev
      query_range_step_seconds: 15
