deployment:
  replicaCount: 3
  image:
    repository: ghcr.io/spitikos/api
    pullPolicy: Always
    tag: 91b46e6c63bf0c6ee9d1b96ecd86b450f843e785
  podAnnotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "api"
    vault.hashicorp.com/agent-init-first: "true"
    vault.hashicorp.com/agent-inject-secret-config.env: "spitikos/data/api"
    vault.hashicorp.com/agent-inject-template-config.env: |
      {{- with secret "spitikos/data/api" -}}
      {{- range $key, $value := .Data.data }}
      export {{ $key }}={{ $value }}
      {{- end }}
      {{- end }}
  command: ["/bin/sh"]
  args: ["-c", "source /vault/secrets/config.env && /server"]
  resources:
    requests:
      cpu: 100m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 128Mi
serviceAccount:
  name: "api"
service:
  type: ClusterIP
  port: 50051
  targetPort: 50051
  portName: grpc
ingress:
  hosts:
    - api.taehoonlee.cloud
  annotations:
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: http://localhost:3000,https://spitikos.dev,https://taehoonlee.cloud
    nginx.ingress.kubernetes.io/cors-allow-methods: GET, POST
    nginx.ingress.kubernetes.io/cors-allow-headers: Content-Type,Connect-Protocol-Version,Connect-Timeout-Ms,Grpc-Timeout,X-Grpc-Web,X-User-Agent
    nginx.ingress.kubernetes.io/cors-expose-headers: Grpc-Status,Grpc-Message,Grpc-Status-Details-Bin
    nginx.ingress.kubernetes.io/backend-protocol: GRPC
scaledobject:
  minReplicas: 1
  maxReplicas: 3
  prometheus:
    query: 'sum(rate(nginx_ingress_controller_requests{exported_service="api"}[2m]))'
    threshold: 1
configmap:
  mountDir: /go/config
  filename: config.yaml
  data:
    server:
      port: 50051
      streamIntervalSeconds: 5
    prometheus:
      address: https://prometheus.taehoonlee.cloud
      queryRangeStepSeconds: 15
    redis:
      address: redis-master.redis.svc.cluster.local:6379
    github:
      owner: spitikos
