replicaCount: 1
image:
  repository: ghcr.io/spitikos/api
  pullPolicy: Always
  tag: 41a3e789f21fa037117e0e8044da138596ab0c52
service:
  type: ClusterIP
  port: 50051
  containerPort: 50051
  portName: http-grpc
ingress:
  enabled: true
  host: api.spitikos.dev
  path: /
config:
  enabled: true
  mountDir: /config
  filename: config.yaml
  data:
    server:
      port: 50051
    prometheus_proxy:
      url: https://prometheus.spitikos.dev
      query_range_step_seconds: 15
      stream_interval_seconds: 1
