argocd:
  global:
    domain: argocd.spitikos.dev
  configs:
    params:
      server.insecure: "true"
  server:
    insecure: true
    # service:
    #   type: ClusterIP
    # ingress:
    #   enabled: true
    #   ingressClassName: traefik
    #   annotations:
    #     kubernetes.io/ingress.class: traefik
    #   traefik:
    #     ingressRoute:
    #       enabled: true
    #       entryPoints:
    #         - websecure
    #       serversTransport:
    #         insecureSkipVerify: true
