applications:
  - name: api
    namespace: api
    path: charts/api
    releaseName: api
    syncOptions:
      - CreateNamespace=true
    ignoreDifferences:
      - group: apps
        kind: Deployment
        jsonPointers:
          - /spec/replicas

  - name: homepage
    namespace: homepage
    path: charts/homepage
    releaseName: homepage
    syncOptions:
      - CreateNamespace=true
    ignoreDifferences:
      - group: apps
        kind: Deployment
        jsonPointers:
          - /spec/replicas

  - name: keda
    namespace: keda
    path: charts/keda
    releaseName: keda
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

  - name: redis
    namespace: redis
    path: charts/redis
    releaseName: redis
    syncOptions:
      - CreateNamespace=true

  - name: vault
    namespace: vault
    path: charts/vault
    releaseName: vault
    syncOptions:
      - CreateNamespace=true
    ignoreDifferences:
      - group: admissionregistration.k8s.io
        kind: MutatingWebhookConfiguration
        jsonPointers:
          - /webhooks/0/clientConfig/caBundle

  - name: kubernetes-dashboard
    namespace: kubernetes-dashboard
    path: charts/kubernetes-dashboard
    releaseName: kubernetes-dashboard
    syncOptions:
      - CreateNamespace=true
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        jsonPointers:
          - /spec

  - name: ingress-nginx
    namespace: ingress-nginx
    path: charts/ingress-nginx
    releaseName: ingress-nginx
    syncOptions:
      - CreateNamespace=true

  - name: kube-prometheus-stack
    namespace: monitoring
    path: charts/kube-prometheus-stack
    releaseName: kube-prometheus-stack
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    ignoreDifferences:
      - group: apiextensions.k8s.io
        kind: CustomResourceDefinition
        jsonPointers:
          - /spec
          - /metadata/annotations

ingress:
  hosts:
    - argocd.taehoonlee.cloud
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  serviceName: argocd-server
  servicePort: 443
